#fullpage
  #logo.layer
    .logo-text= "Jagoda]"
    .logo-subtext= "salon fryzjerski"
  .section#section0
    %video#myVideo{ autoplay: "", loop: "", muted: "" }
      %source{ src: "/assets/petals.mp4", type: "video/mp4" }
  .section#section1
    .intro
      %h1= "Katalog usług"
    %ul.column.left
      %li{ style: "display: none;" }= "Strzyżenie damskie"
      %li{ style: "display: none;" }= "Strzyżenie męskie"
      %li{ style: "display: none;" }= "Strzyżenie dziecięce"
    %ul.column.right
      %li{ style: "display: none;" }= "Balejaż"
      %li{ style: "display: none;" }= "Farbowanie"
      %li{ style: "display: none;" }= "Trwała"
  .section#section2
    .intro
      %h1= "Kontakt"
  .section#section3
    #slide1.slide
    #slide2.slide
    #slide3.slide
